doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Вход | ВДеле
  body
    form(action='/login', method='post')
      label(for='login') Почта или никнейм
      br
      input#login(name='login', type='text', required='required')
      br
      br
      label(for='password') Пароль
      br
      input#password(name='password', type='password', required='required')
      br
      br
      input#remember(name='remember', type='checkbox')
      label(for='remember') Запомнить меня на месяц
      br
      br
      input(type="submit", value="Войти")
      if incorrect_login
        label Неверный логин
      else if incorrect_password
        label Неверный пароль
      else if success
        label Вход успешный!