doctype html
html(lang='en')
  head
    title Регистрация
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='css/signup_util.css')
    link(rel='stylesheet' type='text/css' href='css/signup_main.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap')
    style.
      * {
      font-family: Roboto !important;
      }
  body
    .limiter
      .container-login100
        .wrap-login100
          form.login100-form.validate-form.p-l-55.p-r-55.p-t-178(method="post", action="/signup")
            span.login100-form-title
              | Регистрация
            .wrap-input100.validate-input.m-b-16(data-validate='Please enter username')
              input.input100(type='text' name='nick' placeholder='Никнейм', value=nick)
              span.focus-input100
            .wrap-input100.validate-input.m-b-16(data-validate='Please enter username')
              input.input100(type='text' name='first_name' placeholder='Имя', value=first_name)
              span.focus-input100
            .wrap-input100.validate-input.m-b-16(data-validate='Please enter username')
              input.input100(type='text' name='last_name' placeholder='Фамилия', value=last_name)
              span.focus-input100
            .wrap-input100.validate-input.m-b-16(data-validate='Please enter username')
              input.input100(type='text' name='mail' placeholder='Почта', value=mail)
              span.focus-input100
            .wrap-input100.validate-input.m-b-16(data-validate='Please enter username')
              input.input100(type='text' name='password' placeholder='Пароль')
              span.focus-input100
            .wrap-input100.validate-input(data-validate='Please enter password')
              input.input100(type='password' name='repeat_password' placeholder='Повторите пароль')
              span.focus-input100
            .container-login100-form-btn
              button.login100-form-btn
                | Зарегистрироваться
