<!DOCTYPE html>
<html lang="ru">

<head>
  <link rel = "stylesheet" href = "/css/welcome.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ВДеле</title>
  <style>
    * {
      font-family: Roboto !important;
    }
  </style>
</head>

<body>
  <div id="header">
    <div id="logo">
      <div id="logo_cont_1">
         <span>В</span>
      </div>
      <div id="logo_cont_2">
         <span>Деле</span>
      </div>
      </div>

    <div id="sign">
      <div id="login">
        <a id="a1" href="/login">Войти</a>
      </div>
      <div id="reg">
        <a id="a2" href="/signup">Регистрация</a>
      </div>
      </div>
  </div>

  <div id="body">
    <div id="text">
      <div id="line"></div>
      <div id="text_cont">
        <div id="text_cont_1">ВДеле помогает эффективно взаимодействовать с сотрудниками</div>
        <div id="text_cont_2">Будьте лучшими - будьте В Деле!</div>
      </div>
      </div>
    <div id="image">
      <div id="box_1">
        <h1>Дело №1</h1>
      </div>
      <div id="box_2">
        <h1>Дело №2</h1>
      </div>
    </div>
  </div>
  <script src="/scripts/welcome.js"></script>
</body>

</html>