doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title ВДеле
  body
    h1 ВДеле
    a(href='/login') Войти
    a(href='/signup') Зарегистрироваться
    script(src='/scripts/welcome.js')
