
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/welcome.css">
  <title>ВДеле</title>
</head>
<body>
    <div class="main_menu">
      <div class="top_menu_block">
          <div class="left_block"> 
            <div class="logo"><p>ВДеле</p></div>
          </div>
          <div class="right_block">
            <div class="login"><a href="/login">Войти</a></div>
            <div class="regis"><a href="/signup">Регистрация</a></div>
          </div>
        </div>
      <div class="main_menu_block">
        <div class="left_cont"></div>
        <div class="right_cont"><div class="main_text"><span>ВДеле помогает эффективно взаимодействовать с сотрудниками</span> </div></div>
      </div>
    </div>
</body>
</html>