*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main_menu{
    background-image: url(/images/main_background.jpg);
    width: 100vw;
    filter:brightness(.7);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.top_menu_block{
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left_block{
    height: 160px;
    width: 50vw;
    display: flex;
    align-items: center;
    margin: 0 240px;
}
.logo{
    font-size: 64px;
}
.right_block{
    height: 160px;
    width: 50vw;
    align-items: center;
    justify-content: end;
    margin: 0 240px;
    display: flex;
    flex-direction: row;
}
p{
    color: #fff;
    font-family: "Pacifico";
}
.login{
    width: 190px;
    height: 65px;
    align-items: center;
    display: flex;
    margin: 0 10px;
    justify-content: center;
    border: 1px solid rgba(217, 217, 217, .65);
}
.regis{
    width: 300px;
    height: 65px;
    align-items: center;
    display: flex;
    margin: 0 10px;
    justify-content: center;
    border: 1px solid rgba(217, 217, 217, .65);
}
a{
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    font-family: "Raleway";
}
.main_menu_block{
    display: flex;
    flex-direction: row;
}
.left_cont{
    width: 50vw;
    height: 80vh;
}
.right_cont{
    width: 50vw;
    font-size: 64px;
    font-family: 'Raleway';
    color: #dcdcdc;
    margin: 247px 246px 0 0;
    text-align: right;
}